* {
  font-family: "Recursive", sans-serif;
}

h4 {
  font-weight: 600;
}

#masthead {
  background-image: linear-gradient(to left, rgb(123, 14, 169), rgb(12, 107, 239));
}

.green{
  background-color: green;
  color: white;
}

.red{
  background-color: red;
  color: white;
}

.yellow{
  background-color: yellow;
  color: white;
}

.card-title {
  text-decoration: underline;
  font-size: 20px;
}

.card-text {
  font-size: 14px;
}